<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <ng-container *ngIf="isAuthenticated; else notAuthenticated">
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'/recipes'">Recipes</a>
          </li>

        </ng-container>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="'/shopping-list'">Shopping List</a>
        </li>
        <ng-template #notAuthenticated>
          <li class="nav-item" routerLinkActive="active">
            <a class="nav-link" [routerLink]="'/auth'">Authenticate</a>
          </li>
        </ng-template>
      </ul>
      <ul class="nav navbar-nav ml-auto manage-recipes-btn" *ngIf="isAuthenticated">
        <li class="nav-item">
          <a style="cursor: pointer" class="nav-link" (click)="onLogout()">Logout</a>
        </li>
        <div class="col text-left ">
          <div ngbDropdown placement="bottom-left" class="d-inline-block">
            <button class="btn" id="dropdown" ngbDropdownToggle>Manage</button>
            <div ngbDropdownMenu aria-labelledby="dropdown">
              <button ngbDropdownItem (click)="onSaveData()">Save Data</button>
              <button ngbDropdownItem (click)="onFetchData()">Fetch Data</button>
            </div>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>
