.sing-up {
  margin-right: 8px;
}

.error-container {
  margin-top: 12px;

  p {
    margin-bottom: 0;
  }
}

.spinner {
  margin-top: 18px;
  text-align: center;

  .spinner-border {
    width: 50px;
    height: 50px;
  }
}
