<div class="row">
  <div class="col-12 col-md-6 offset-md-3">
    <app-alert [message]="error" *ngIf="error" (close)="onHandleError()"></app-alert>
    <form
      #authForm="ngForm"
      (ngSubmit)="onSubmit(authForm)"
      *ngIf="!isLoading"
    >
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="email"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
          autocomplete="on"
        >
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input
          type="password"
          id="password"
          class="form-control"
          ngModel
          name="password"
          required
          minlength="6"
          autocomplete="on"
        >
      </div>
      <div>
        <button type="submit" class="btn btn-primary sing-up" [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign Up'}}
        </button>
        <button type="button" class="btn btn-primary" (click)="onSwitchMode()">
          Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}
        </button>
      </div>

    </form>
    <div class="spinner" *ngIf="isLoading">
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>
</div>
