<div class="row">
  <div class="col-12">
    <img
      [src]="recipe.imagePath"
      alt="{{recipe.name}}" class="img-fluid"
      style="max-height: 300px; height: 100%"
    >
  </div>
</div>
<div class="row">
  <div class="col-12">
    <h1>{{recipe ? recipe.name : 'Recipe Name'}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <div ngbDropdown class="d-inline-block">
      <button type="button" class="btn btn-outline-primary" id="dropdown" ngbDropdownToggle>Manage Recipe</button>
      <ul ngbDropdownMenu aria-labelledby="dropdown">
        <li ngbDropdownItem><a style="cursor: pointer" (click)="onAddToShoppingList()">To Shopping List</a></li>
        <li ngbDropdownItem>
          <a
            style="cursor: pointer"
            (click)="onEditRecipe()"

          >Edit Recipe</a></li>
        <li ngbDropdownItem><a style="cursor: pointer"
                               (click)="onDeleteRecipe()"
        >Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-12">
    {{recipe.description}}
  </div>
</div>
<div class="row">
  <div class="col-12">
    <ul class="list-group">
      <li
        *ngFor="let ingredient of recipe.ingredients"
        class="list-group-item"
      >
        {{ingredient.name}} - {{ingredient.amount}}
      </li>
    </ul>
  </div>

</div>
