<div class="row add-recipe-header">
  <div class="col-12">
    <button class="btn btn-success" routerLink="/recipes/new">New Recipe</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-12 list-group">
    <app-recipe-item
      *ngFor="let recipeEl of recipes"
      [recipe]="recipeEl"
    >
    </app-recipe-item>
  </div>
</div>

