<div class="row">
  <div class="col-12">
    <form [formGroup]="addIngredientForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-5 form-group">
          <label for="name">Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            formControlName="name"
          >
        </div>
        <div class="col-2 form-group">
          <label for="amount">Amount</label>
          <input
            type="number"
            pattern="^[1-9]+[0-9]*$"
            id="amount"
            class="form-control"
            formControlName="amount"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <button type="submit" class="btn btn-success" type="submit"
                  [disabled]="addIngredientForm.invalid"
          >
           {{ editMode ? "Update" : "Add"}}
          </button>
          <button class="btn btn-danger" type="button" *ngIf="editMode" (click)="onDelete()">Delete</button>
          <button class="btn btn-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
